<div class="span10">
  <div class="hero-unit btn-toolbar" id="login">
    <form class="form-inline" method="post" action="/signup">
      <div class="form-group">
        <label for="username"> Username:
          <input type="text" name="username" id="user-input"/>
        </label>
        <label for="password1"> Password:
          <input type="password" name="password1" id="user-input"/>
        </label>
        <label for="password2"> Re-type Password:
          <input type="password" name="password2" />
        </label>
        <button type="submit" class="btn btn-inverse" id="login">Register </button>
      </div>
    </form>
    <% if session[:message] %>
      <div class="alert alert-primary alert-dismissible" role="alert">
        <a class="close" data-dismiss="alert">×</a>
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>
  </div>
</div>
